/** @format */

.cards {
  display: flex;
}

.card {
  margin: 0 5px;
  flex: 1 1 300px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: 1em/1.4 Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}

img {
  max-width: 100%;
}

.cards {
  margin: 0 auto;
  max-width: 800px;
}

.card {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card header {
  padding: 10px;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.card header h2 {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}

.card .body {
  padding: 10px;
  font-size: 0.9rem;
  color: #ffff;
  text-align: center;
}
