/**
 * /* Privacy Policy page
 *
 * @format
 */

html {
  background-color: #000034;
}
#policy-main {
  position: relative;
  margin: 100px;
  color: whitesmoke;
}

#policy-main .policy-h3 {
  font-weight: bold;
}

.policy-text {
  border-style: initial;
  border-color: lightgray;
  margin: 10px;
  /* text-align: center; */
  padding: 30px;
  padding-left: 10px;
  background-color: #000045;
}

.policy-text p {
  font-size: 20px;
}
.policy-text li {
  font-size: 20px;
}
